.site-layout-content {
    min-height: 78vh;
    padding: 24px;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.layout{
    min-height: 100vh;
}

.header1{
    position: relative;
}

.goLogin{
    position: absolute;
    right: 50px;
    top: 0px;
}
