.site-layout-content {
    min-height: 78vh;
    padding: 24px;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.layout{
    height: 100vh;
    width: 100%;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

.header1{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: rgba(0,0,0,0);
    backdrop-filter: saturate(180%) blur(8px);
}
.indextab{
    background-color: rgba(0,0,0,0);
    backdrop-filter: saturate(180%) blur(8px);
    color: #fff;
}

.goLogin{
    position: absolute;
    right: 50px;
    top: 0px;
}

.logo{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    padding-left: 50px;
}
.tag1{
    font-size: 14px;
    background-color: #f5f5f5;
    color: #000;
    margin: 15px 10px 10px 10px;
}
.tag1:hover{
    background-color: #ebebeb;
    color: #1677ff;
    cursor: pointer;
}

.btmbtn{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.stylebox{
    border-radius: 5px;
    background: #1677ff;
    width: 32px;
    height: 32px;
    position: relative;
    top: -6px;
    line-height: 50px;
}

.stylebtn{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.footer{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}
